:root {
  --blue: #2a386e;
  --white: #ffffff;
  --light-blue: #3284ba;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--blue);
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  overflow: auto;
}

/* font */
.form-label {
  font-size: 0.875rem !important;
  color: var(--blue) !important;
}

/* sidebar */
.sidebar {
  background-color: var(--white);
  width: 20rem;
  height: 100vh;
  box-shadow: 10px 0 20px -5px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1051;
  transition: width 0.2s;
}

.sidebar.collapsed {
  background-color: var(--white);
  width: 4.5rem;
  height: 100vh;
  box-shadow: 10px 0 20px -5px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1051;
}

.sidebarLogo {
  text-decoration: none;
  padding: 15px 20px;
  text-align: start;
}

.sidebarLogo img {
  width: 1.75rem;
  height: 1.75rem;
}

.sidebarNavItems {
  color: var(--blue);
  text-decoration: none;
  padding: 1rem 1.625rem;
  transition: all 0.2s;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}

.sidebarNavItemButton {
  background-color: transparent;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 8px;
  padding: 0.5rem 1.25rem;
  width: 15rem;
  font-size: 1rem;
  margin: 0 auto 0.625rem auto;
  transition: all 0.2s;
}

.sidebarNavItemButton.collapsed {
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-align: start;
  padding: 1rem 1.625rem;
  font-size: 1rem;
  margin: 0;
  width: auto;
}

.sidebarNavItemButton:hover {
  background-color: var(--blue);
  color: var(--white);
}

.sidebarNavItems1 {
  color: var(--blue);
  text-decoration: none;
  padding: 1rem 1rem;
  font-size: 1.25rem;
  transition: all 0.2s;
}

.sidebarNavItems1:hover {
  background-color: var(--blue);
  color: var(--white);
}

.sidebarNavItems:hover {
  color: var(--white);
  background-color: var(--blue);
}

.sidebarNavItems.active {
  color: var(--white);
  background-color: var(--blue);
}

.sidebarText {
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.sidebarHr1 {
  width: calc(100% - 3rem);
  margin: 0 auto;
}

.sidebarHr1.collapsed {
  width: 100%;
  margin: 0;
}

.sidebarHr2 {
  width: calc(100% - 3rem);
  margin: 0 auto 0.625rem auto;
}

.sidebarHr2.collapsed {
  width: 100%;
  margin: 0;
}

/* Landing Page & Login */
.button-outline {
    border: 1px solid var(--blue);
    border-radius: 5px;
    background-color: transparent;
}

.button-outline:hover {
    background-color: var(--blue);
    color: var(--white);
}

.login-container {
    position: relative;
    width: 53.5rem;
    min-height: 30rem;
    background-color: var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

.sign-up, .sign-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sign-in{
    width: 50%;
    z-index: 2;
}

#signIn, #signUp {
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 5px 20px;
    color: var(--white);
}

.login-form{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
}

.login-container.right-panel-active .sign-in{
    transform: translateX(100%);
}

.login-container.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.login-container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.overlay{
    position:relative;
    color :var(--white);
    background: var(--blue);
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, var(--light-blue), var(--blue));
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.login-container.right-panel-active .overlay{
    transform: translateX(50%);
}

.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left{
    transform: translateX(-20%);
}

.overlay-right{
    right:0;
    transform: translateX(0);
}

.login-container.right-panel-active .overlay-left{
    transform: translateX(0);
}

.login-container.right-panel-active .overlay-right{
    transform: translateX(20%);
}

.sidebarTitle {
  color: var(--blue);
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 8px;
}

.sidebarBorderLeft {
  border-left: 5px solid var(--light-blue);
}

.workspaceList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.workspaceList .workspaceItems {
  text-decoration: none;
  color: var(--blue);
  font-size: 0.75rem;
  padding: 16px 10px 16px 30px;
  border-bottom: 1px solid #dee2e6;
}

.workspaceList .workspaceItems.active {
  border-left: 8px solid var(--light-blue);
}

.workspaceList .workspaceItems .members {
  color: black;
}

.workspaceList .workspaceItems .workspaceText {
  font-size: 0.625rem;
  color: #828282;
  margin: 0;
}

.dropdown-item{
    color: var(--blue) !important;
    transition:all 0.2s ease;
    border-radius: 5px;
}

.dropdown-item:hover{
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

#workspace-arrow{
  transition: transform 0.2s ease;
}

.rotate-90{
  transform: rotate(90deg);
}

/* main content */
.main-content {
  padding: 20px 50px;
  width: 100%;
  margin-left: 20rem;
  transition: margin 0.2s;
}

.main-content.collapsed {
  padding: 20px 50px;
  width: 100%;
  margin-left: 4.5rem;
}

/* workspace */
.date {
  font-size: 1.5rem;
  color: var(--blue);
  font-weight: 500;
}

.text-1 {
  font-size: 0.75rem;
  color: #878787;
  margin: 0;
}

.title-1 {
  font-size: 1.5rem;
  color: var(--blue);
  font-weight: bold;
}

.title-2 {
  font-size: 0.875rem;
  color: var(--blue);
  font-weight: bold;
  margin-bottom: 5px;
}

.text-2 {
  font-size: 0.875rem;
}

.manage-button {
  font-size: 1rem;
  color: var(--blue);
  background-color: #ebf3f9;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  padding: 5px 10px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.manage-button:hover {
  background-color: var(--blue);
  color: var(--white);
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.progress-title {
  font-size: 1.25rem;
  color: var(--blue);
  font-weight: bold;
  margin: 0;
}

.progress-title-number {
  font-size: 0.75rem;
  color: var(--blue);
  background-color: #3284ba29;
  border-radius: 5px;
  padding: 2px 10px;
  font-weight: bold;
  margin: 0;
}

.card a {
  color: var(--blue);
  text-decoration: none;
}

.card a i {
  height: 5px;
  width: 5px;
  font-size: 2rem;
}

.low-prio {
  color: #79e245;
  background-color: #edfbe4;
  font-size: 0.625rem;
  padding: 5px 10px;
}

.med-prio {
  color: #febc49;
  background-color: #fef8e7;
  font-size: 0.625rem;
  padding: 5px 10px;
}

.high-prio {
  color: #fa2b36;
  background-color: #ffe8e9;
  font-size: 0.625rem;
  padding: 5px 10px;
}

.completed-task {
  color: #364254;
  background-color: #F2F4F7;
  font-size: 0.625rem;
  padding: 5px 10px;
}

.task-title {
  font-size: 1rem;
  font-weight: bold;
}

/* modal */
.modal-content {
  border-radius: 15px;
}

.modal-dialog {
  max-width: 600px !important;
}

.button-fill {
  color: var(--white);
  background-color: var(--blue);
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  font-size: 0.75rem;
}

.members-badge {
  font-size: 0.75rem;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 10px;
  padding: 5px 8px;
  margin-right: 0.5rem;
}

.input-label {
  font-size: 0.875rem;
  color: var(--blue);
  margin-bottom: 5px;
}

.inputs {
  border-radius: 10px;
  width: 100%;
  outline: 1px solid #959595;
  padding: 5px 10px;
  font-size: 0.875rem;
  border: none;
  transition: all 0.2s;
}

.inputs:focus {
  outline: 1px solid var(--blue);
}

.accordion-button {
  color: var(--white) !important;
  background-color: var(--blue) !important;
}

.accordion-button::after {
  background-image: url(/images/down-white.svg) !important;
}

.workspace-code-title {
  font-size: 0.75rem;
  color: var(--blue);
}

.workspace-code {
  font-size: 2.25rem;
  color: var(--light-blue);
  font-weight: bold;
}

.accordion-badge {
  color: var(--blue);
  background-color: var(--white);
  font-size: 0.75rem;
}

.member-table {
  font-size: 0.875rem;
}

.member-table th {
  color: var(--blue);
  text-align: center;
}

.member-table td {
  text-align: center;
}

.accordion-member-badge {
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 0.75rem;
}

/* add task modal */
.custom-dropdown {
  position: relative;
  user-select: none;
}

.selected-option {
    display: inline-block;
    background-color: #e9ecef;
    border-radius: 15px;
    padding: 2px 10px;
    margin: 2px;
    font-size: 14px;
  }

.dropdown-display {
  padding: 7px 10px;
  border: 1px solid #e0e4e4;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.dropdown-options {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: none;
}

.dropdown-options.show {
  display: block;
}

.dropdown-option {
  display: block;
  padding: 5px;
}

.dropdown-option input[type="checkbox"] {
  margin-right: 5px;
}

/* task */
.noTasks{
    font-size: 0.875rem;
    color: #878787;
    text-align: center;
}
/* login & register */
.otpInputs {
    margin: 30px 0;
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(5, auto);
}

.otpInputs input{
    width: 50px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--blue);
}

.otpInputs input:focus{
    outline: 2px solid #12172e;
}

/* dashboard */
.progress-container {
  position: relative;
  width: 12rem; /* Adjust width and height as needed */
  height: 12rem;
}

.progress-ring1, .progress-ring2 {
  transform: rotate(90deg); /* Start from the bottom (270 degrees) */
}

.progress-ring2{
  position:absolute;
  top: 0;
  left: 0;
}

.progress-ring__circle1, .progress-ring__circle2 {
  stroke: #C0C0C0; /* Circle background color */
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.progress-percent {
  display: block;
  text-align: center;
}

/* Animation */
.progress-ring__circle2.progress {
  stroke: #9BC188; /* Progress color */
  stroke-dasharray: 503; /* Circumference of the circle (2 * Ï€ * radius) */
  stroke-dashoffset: 503; /* Hide the circle initially */
}

.progressArrowBtn {
  color: var(--blue);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  padding: 0;
  text-align: center;
}

.progressArrowBtn.left {
  border-radius: 5px 0 0 5px;
  left:0;
}

.progressArrowBtn.right { 
  border-radius: 0 5px 5px 0;
  right: 0;
}

.progressArrowBtn:hover {
  background-color: var(--blue);
  color: var(--white);
}

.dashboard-line {
  height: 100%;
  background-color: var(--blue);
  width: 5px;
  border-radius: 10px;
}

.dashboard-table {
  font-size: 0.875rem;
}

.dashboard-table td{
  background-color: #f9f9f9;
}

.dashboard-table th{
  background-color: var(--blue);
  color: var(--white);
  font-weight: normal;
}

.dashboard-progress-title {
  position: absolute;
  top: 5%;
  left: 8%;
  height: 10%;
}